name: Build Release

on:
  push:
    branches:
      - 'release-*'

jobs:
  release-server-image:
    if: ${{ ! github.event.created }}
    permissions:
      contents: read
      packages: write # used to push images to `ghcr.io`
    uses: m8rmclaren/trunk-container-action/.github/workflows/release-build.yml@main
    with:
      ghcr_user: m8rmclaren
      ghcr_image_name: health-auto-export-server
      platforms: '["linux/amd64"]'
      docker_context: "{{defaultContext}}:server"
    secrets:
      clone_token: ${{ secrets.GH_PAT }}
      gh_token: ${{ secrets.GITHUB_TOKEN }}
      ghcr_username: ${{github.actor}}
      ghcr_password: ${{ secrets.GITHUB_TOKEN }}

  create-gh-release:
    needs:
      - release-server-image
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      packages: read

    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Create Release
        env:
          # GH_REPO is required for older releases of `gh`. Until we're
          # reasonably confident that that the gh release is new enough,
          # set GH_REPO to the repository to create the release in.
          #
          # See https://github.com/cli/cli/issues/3556
          GH_REPO: ${{ github.repository }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Create the release using the version number as the title
        run: gh release create "${{ needs.release-server-image.outputs.release_version }}" --title "${{ needs.release-server-image.outputs.release_version }}"

  # update-yaml:
  #   runs-on: ubuntu-latest
  #   needs:
  #     - release-server-image
  #   steps:
  #     - name: Install jq
  #       shell: bash
  #       run: sudo apt-get install jq

  #     - name: Create payload
  #       shell: bash
  #       run: |
  #         payload='{}'

  #         payload="$(echo "$payload" | jq -c --arg name "ghcr.io/m8rmclaren/health-auto-export-server" '.ui_registry = $name')"
  #         payload="$(echo "$payload" | jq -c --arg tag "${{ needs.release-server-image.outputs.release_version }}" '.ui_tag = $tag')" # TODO

  #         echo "PAYLOAD=$payload" >> $GITHUB_ENV

  #     - name: Repository Dispatch
  #       uses: peter-evans/repository-dispatch@v1
  #       with:
  #         token: ${{ secrets.GH_PAT }}
  #         repository: m8rmclaren/infra-gitops
  #         event-type: new-prod-image
  #         client-payload: ${{ env.PAYLOAD }}
